body {
    background-color: rgb(32, 32, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.logo-title {
    color: white;
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
}

.container {
    display: flex;
}

.column {
    width: 100%;
}

#logo {
    text-align: center;
}

#logo img {
    width: 180px;
}

#languages {
    border-width: thin;
    border-style: solid;
    border-color: white;
    width: 150px;
    padding: 10px 30px 30px 30px;
    margin-left: 20px;
    text-align: center;
    line-height: 1em;
}


#languages img {
    width: 50px;
}

#menu {
    width: 150px;
    margin-right: 20px;
    border-color: white;
    border-width: thin;
    border-style: solid;
    color: white;
    padding: 10px 30px 30px 30px;

}

#main {
    color: white;
    font-size: medium;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
    border-bottom: outset rgb(166, 245, 241);
    text-align: center;
}
h2, h3 {
    color: white;
}

nav {
    
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}
ul li {
    /* display:inline; */
    padding: 30px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}

nav ul li.selected {
    background-color:rgb(167, 132, 132);
}