body {
    background-color: rgb(32, 32, 32);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 20px 20px;
}

.container {
    display: flex;
}

.column {
    width: 100%;
}

.myname {
    text-align: center;
    font-size: 1.7em;
}


#logo {
    text-align: center;
}

#logo img {
    width: 150px;
    border-radius: 70%;
    text-align: center;
}

#skills {
    
}


#skills img {
    width: 50px;
    
}

#menu {
    width: 350px;
    margin-right: 20px;
    border-color: white;
    border-width: thin;
    border-style: solid;
    color: white;
    padding: 10px;

}

#menu ul li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#about {
    color: white;
    font-size: 1.3em;
    text-align: left;
}

#about img {
    width: 15px;
}


#contact img {
    width: 40px;
    margin: 10px;
    padding: 10px;
}

#presentation {
    display: flex;
}

#home {
    color: white;
    font-size: 1.3em;
    text-align: left;
}

.socialmedia a:visited,
.socialmedia a:active,
.socialmedia a:link {
    color: transparent;
}

h2 {
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    border-bottom: outset rgb(166, 245, 241);
    text-align: center;
}

h2, h3 {
    color: white;
}

nav {
    
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}
ul li {
    /* display:inline; */
    padding: 0px 10px;
}

 a:link,  a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}


nav ul li.selected {
    background-color:rgb(167, 132, 132);
}

li img {
    width: 30px;
    margin: 5px;
    padding: 10px;
}

#about .myphoto {
    width: 400px;
    margin: 0 30px 30px 0;
    border-radius: 5%;
}